<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by name"
        [(ngModel)]="programName"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Programs List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let program of programs; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveProgram(program, i)"
      >
        {{ program.programName }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllPrograms()">
      Remove All
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentProgram">
      <h4>Program</h4>
      <div>
        <label><strong>Program name:</strong></label> {{ currentProgram.programName }}
      </div>
      <div>
        <label><strong>Description:</strong></label>
        {{ currentProgram.programDescription }}
      </div>
      <div>
        <label><strong>Type:</strong></label>
        {{ currentProgram.programType }}
      </div>
      <div>
        <label><strong>Start date:</strong></label>
        {{ currentProgram.programStartdate }}
      </div>
      <div>
        <label><strong>Price:</strong></label>
        {{ currentProgram.programPrice }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentProgram.published ? "Published" : "Pending" }}
      </div>

      <a class="badge badge-warning" [routerLink]="[currentProgram.id]">
        Edit
      </a>
    </div>

    <div *ngIf="!currentProgram">
      <br />
      <p>Please click on a Program...</p>
    </div>
  </div>
</div>
