.card-header{
  background-color: #F63c1f;
  color: white;
  text-align: center;

}

.upcomming-link{
  color: white;
  font-size: 16px;
 position:absolute;
 text-align: center;
 white-space: nowrap;
 text-decoration: none;
 top:0;
width:100%;
left:0;

}

.logo{
  height:60px;
  width: 200px;
  padding-left:10%;
}
.card-body{
  padding:0px;
}
.social-media{
  font-size: 18px;
  padding-top: 3%;
  padding-right: 0%;
}
.s-media{
  list-style-type: none;
  padding-left: 0%;
  display:inline;
  float:left;
  padding-top:3%;
}

li {
  float:left;
}
li a{
  display:inline;
  padding:5px;
}
.fab {
  font-size: 16px;
  color:black;
}
.fab:hover {
  color: white;
}
.circle-icon {
  background: #E0E0E0;
  padding:10px;
  border-radius: 50%;
}
.circle-icon:hover {
  background: #F63c1f;
}
.fa-whatsapp{
  color: white;
}

.circle-icon1 {
  background: #00FF00;
  padding:10px;
  border-radius: 50%;
}
.circle-icon1:hover {
  background: #009900;
}
.navbar{
  background: black;
  margin:0;
  padding:0px;
  width:100%;

}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  overflow:hidden;
  z-index:10;
}
.collapse{
  margin:0;
  width:100%;
  padding-right:0px;
}
nav .navbar-nav{
  padding:0px;
  margin:0;
  padding-left:8%;
}
nav .navbar-nav li{
  margin: 0;
  padding:0px;
  padding-bottom: 1%;
  padding-top:1%;
}
nav .navbar-nav li a{
  color: white !important;
  padding-top:5%;
  font-size: 18px;

  }
  .navbar-nav > .active {
    background-color: #F63c1f;
  }
  nav .navbar-nav li:hover{
    background: #F63c1f;
  }
  ul li ul {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    transition: 0.3s;
    margin-top: 0.6rem;
    text-decoration: none;
    display: none;
    background: black;
    color:white;
    list-style-type: none;
    margin-left: 0;
    margin-right:0;
    padding-left: 0px;
    z-index:999;
  }

  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    position:fixed;
    z-index:2;
  }

  ul li ul li {
    clear: both;
    text-decoration: none;
    margin-left: 0;
    padding-right: 0px;
    width:100%;
    padding-left:3%;

  }

  ul li ul li a{
    text-decoration: none;
    margin-left: 0;
    padding-left: 0px;
    font-size: 16px;
  }

