.title{
  color:black;
  font-size: 45px;
  font-family: Comic Sans MS;
  font-weight: bold;
  margin-top: 0;
  text-align: left;
  position:relative;
}
.carousel-inner{
  position:relative;
  background: #eeeeee;
}
.desc{
  color:black;
  text-align: left;
  position:relative;
}
.slide-img{
  width:100%;
  height:380px;
  position:relative;
}
.about-us-img{
  width:100%;
  height:380px;
  position:relative;
  overflow: hidden;
}
.carousel-item{
  position:relative;
}
.box{
  padding-left: 10%;
  padding-right: 10%;
  position:relative;
}
.about-us{
  background: #fbfbfb;
  position: relative;
}
.about-img{
  overflow: hidden;
  max-height: 380px;
  position: relative;
}
.about-us:hover img{
  opacity: 0.7;
  transform: scale(1.2);

}
.box-abtus{
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom:5%;
  padding-top:5%;
  position:relative;
}
.black-btn{
  padding: 10px 38px;
    border: none;
    font-weight: 600;
    color: #fff;
    background: #2a2a2a;
    font-size: 16px;
    transition: 0.2s;
    border-radius: 100px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}
.carousel-indicators{
  filter: invert(100%);
}
.carousel-indicators li{
  display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 10px;
}
.fal {
  content: "";
    width: 60px;
    background: #f63c1f;
    height: 3px;
    display: block;
    position: absolute;
    left: 145px;
    top: 3%;
    transform: translatey(-50%);
}
.far {
  font-size: 40px;
  color: #f63c1f;

}
.fas{
  font-size: 40px;
  color: #f63c1f;

}
.orange{
    color:#f63c1f;
}
.watermark{
  display: block;
    font-size: 80px;
    position: absolute;
    top: -10px;
    right: -90px;
    color: #eee;
    font-family: 'Fredoka One', cursive;
}
.call{
  position: absolute;
    z-index: 998;
    right: 50px;
    bottom: -11px;
    background:white;

}
.call a{
  background: #fff;
    padding: 15px 20px;
    box-shadow: 0px 0px 8px #d2d2d2;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 800;
    color: #2a2a2a;
    text-decoration:none;
}
.call a i{
  font-weight: bold;
    font-size: 20px;
    color: #f63c1f;
    margin-right: 5px;
}
.h4-choose{
  color:black;
  font-size: 45px;
  font-family: Comic Sans MS;
  font-weight: bold;
  top: -25px;
  text-align: center;
  position:relative;
}
.watermark-choose{
  display: block;
    font-size: 70px;
    position: absolute;
    top: -5px;
    left: -90px;
    color: #eee;
    font-family: 'Fredoka One', cursive;
}
.box-choose{
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom:5%;
  padding-top:5%;
  position:relative;
}
.choose-us-img{
  width:100%;
  height:530px;
  position:relative;
  overflow: hidden;
}
.choose-img{
  overflow: hidden;
  max-height: 530px;
}
.choose-us:hover img{
  opacity: 0.7;
  transform: scale(1.2);
}
.hline{
  color: #f63c1f;
}
.choose-ul{
  top:0px;
  padding-left: 1%;
}
.choose-ul li{
  text-decoration: none;
  list-style-type: none;
}
.choose-desc{
  padding-left: 40px;
}
.choose-us-left{
  left: 0px;
}
