
<div id="myCarouse1" class="carousel slide" data-ride="carousel">
  <div class="call">
    <a href="#">
      <i class="fas fa-phone-alt"></i>
      123-456-789
    </a>
      </div>
  <ul class="carousel-indicators">
    <li data-target="#myCarouse1" data-slide-to="0" class="active"></li>
    <li data-target="#myCarouse1" data-slide-to="1"></li>
    <li data-target="#myCarouse1" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="box">

        <div class="row">

          <div class="col-6">
            <div class="carousel-caption">
              <h3 class="title">Job Placement</h3>
              <p class="desc">The 6 step approach to help aspirants kick start their professional career in Information Technology since 2002. 500+ job placements and accounting</p>
              <a href="#" class="black-btn">Read More</a>
            </div>
          </div>
          <div class="col-6">
            <div class="box-image">
              <img class="slide-img" src="../assets/image/job-placement.jpeg" alt="image">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="box">
        <div class="row">
          <div class="col-6">
            <div class="carousel-caption">
              <h3 class="title">SQA FACTORY</h3>
              <p class="desc">Creating state of art skill development platforms to transform fresh graduates into optimized technology delivery team members for SQA Factory</p>
              <a href="#" class="black-btn">Read More</a>
            </div>
          </div>
          <div class="col-6">
            <div class="box-image">
              <img class="slide-img" src="../assets/image/sqa.png" alt="image">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="box">
        <div class="row">
          <div class="col-6">
            <div class="carousel-caption">
              <h3 class="title">Recruitment Services</h3>
              <p class="desc">Whether you are actively hiring, seeking guidanceon developments in industry recruitment or just need source information about the anticipated wage levels, we are here to support and deliver</p>
              <a href="#" class="black-btn">Read More</a>
            </div>
          </div>
          <div class="col-6">
            <div class="box-image">
              <img class="slide-img" src="../assets/image/recruitment.jpg" alt="image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<section class="about-us">
  <div class="container">
    <div class="box-abtus">
    <div class=row>
      <div class="col-6">
        <div class="about-img">
          <img src="../assets/image/recruitment.jpg" alt="about us" class="about-us-img">

        </div>
      </div>
      <div class="col-6">
        <div class="about-us-left">
          <h4>ABOUT US</h4>
          <i class="fal fa-horizontal-rule"></i>
          <h3 class="title">IT Training <span class="orange">&</span> Job Placement Services in Toronto</h3>
          <p>Established in 2002, Resolve6 Software Solutions has over 18 years of experience in IT training and job placements services. The nature of the IT industry has always been changing and evolving with new technologies and tools, these changes constantly challenge IT professionals to upgrade themselves with new skills …</p>
          <a href="#" class="black-btn">Read More</a>
        </div>
      </div>
    </div>
    <div class="watermark">About US</div>
  </div>
  </div>
</section>

<section class="choose-us">
  <div class="container">
    <div class="box-choose">
      <div class="heading-choose">


      <h4 class="h4-choose"><img src="https://img.icons8.com/ios-filled/50/f63c1f/horizontal-line.png" class="hline"/>Why Choose Us
        <img src="https://img.icons8.com/ios-filled/50/f63c1f/horizontal-line.png" class="hline"/></h4>
      </div>
    <div class=row>
      <div class="col-6">
        <div class="choose-img">
          <img src="../assets/image/choose.jpg" alt="about us" class="choose-us-img">
        </div>
      </div>
      <div class="col-6">
        <div class="choose-us-left">
          <ul class="choose-ul">
            <li>

              <h5><i class="fas fa-suitcase"></i>
              Over 500+ job offers till date:</h5>
              <p class="choose-desc">We are proud to say that we have assisted over 500 candidates their start their career in Information technology</p>
            </li>

            <li>

              <h5><i class="fas fa-project-diagram"></i>18 years of training experience:</h5>
              <p class="choose-desc">We have been in the Greater Toronto Area for over 18 years now offering skill development and job placement services</p>
            </li>

            <li>

              <h5><i class="fas fa-money-check-alt"></i>End to End SoftwAare Testing Services:</h5>
              <p class="choose-desc">SQA Factory is a division of Resolve6 which specializes on end to end testing of enterprise applications, running on Web, Mobile and Cloud infrastructures.</p>
            </li>

            <li>

              <h5><i class="far fa-handshake"></i>Recruiting Services:</h5>
              <p class="choose-desc">Over 10 years we are have been filling the resourcing gaps for our esteemed clientele in Canada and North America.</p>
            </li>
          </ul>


        </div>
      </div>
    </div>
    <div class="watermark-choose">Choose US</div>
  </div>
  </div>
</section>

<app-home-coursetype></app-home-coursetype>
