<div class="list row">
  <div class="col-md-6">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by something"
        [(ngModel)]="searchText"

      />
     <!--<div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>-->
    </div>
  </div>
  <div class="col-md-8">
    <h4>Questions</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let question of questions| filter:searchText; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveQuestion(question, i)"

      >
        {{ question.question }}
      </li>
    </ul>
    <button class="m-3 btn btn-sm btn-danger" (click)="toggleShow()">
      Add Question
    </button>
    <!--<button class="m-3 btn btn-sm btn-danger" (click)="removeAllPrograms()">
      Remove All
    </button>-->
  </div>
  <div class="col-md-4">
    <div *ngIf="currentQuestion">
      <h4>Details</h4>
      <div>
        <label><strong>Question name:</strong></label> {{ currentQuestion.question }}
      </div>
      <div>
        <label><strong>Answer:</strong></label>
        {{ currentQuestion.standardAnswer }}
      </div>

      <a class="badge badge-warning" (click)="toggleShowedit()">
        Edit
      </a>
    </div>

    <div *ngIf="isEdit">
      <div *ngIf="currentQuestion" class="edit-form">
        <h4>Question detail</h4>
        <form>
          <div class="form-group">
            <label for="programName">Question</label>
            <input
              type="text"
              class="form-control"
              id="question"
              [(ngModel)]="currentQuestion.question"
              name="question"
            />
          </div>
          <div class="form-group">
            <label for="programDescription">Answer</label>
            <input
              type="text"
              class="form-control"
              id="standardAnswer"
              [(ngModel)]="currentQuestion.standardAnswer"
              name="standardAnswer"
            />
          </div>
          <div class="form-group">
            <label for="programDescription">Difficulty level</label>
            <input
              type="text"
              class="form-control"
              id="difficultyLevel"
              [(ngModel)]="currentQuestion.difficultyLevel"
              name="difficultyLevel"
            />
          </div>
          <div class="form-group">
            <label for="programDescription">Module ID</label>
            <input
              type="text"
              class="form-control"
              id="moduleId"
              [(ngModel)]="currentQuestion.moduleId"
              name="moduleId"
            />
          </div>


        </form>

        <!--<button class="badge badge-danger mr-2" (click)="deleteProgram()">
          Delete
        </button>-->

        <button
          type="submit"
          class="badge badge-success"
          (click)="updateQuestion()"
        >
          Update
        </button>
        <p>{{ message }}</p>
      </div>


    </div>

  </div>
</div>

<div *ngIf="isShown" style="width: 400px; margin: 10px;">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="programName">Question</label>
        <input
          type="text"
          class="form-control"
          id="question"
          required
          [(ngModel)]="question.question"
          name="question"
        />
      </div>

      <div class="form-group">
        <label for="programDescription">Answer</label>
        <input
          class="form-control"
          id="standardAnswer"
          required
          [(ngModel)]="question.standardAnswer"
          name="standardAnswer"
        />
      </div>
      <div class="form-group">
        <label for="programDescription">Difficulty level</label>
        <input
          class="form-control"
          id="difficultyLevel"
          required
          [(ngModel)]="question.difficultyLevel"
          name="difficultyLevel"
        />
      </div>
      <div class="form-group">
        <label for="programDescription">moduleId</label>
        <input
          class="form-control"
          id="moduleId"
          required
          [(ngModel)]="question.moduleId"
          name="moduleId"
        />
      </div>

      <button (click)="saveQuestion()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" (click)="newQuestion()">Add</button>
    </div>
  </div>
</div>
