.search-bar{
padding:0;
padding-left: 0;
padding-bottom: 0;
width:100%;
height: 38px;
margin-top:0px;

}
.list-qs{
  border:1px solid #ebf1f8;
  margin-top: 2%;
  margin-left: 1%;
  width:80%;
  margin-bottom: 1%;
}
h4{
  font-size: 30px;
  color: black;
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  margin-left:5%;
}
.oval{
  width: 100%;

  height: 40px;
  padding:2%;
  padding-top: 1%;
  padding-bottom: 1%;
  background: #ebf1f8;
  border-bottom: 1px solid #dde6ed;
  color:#333;
  cursor: pointer;
  font-size: 16px;
  margin-top:0;
  margin-bottom: 0px;
}
.ans{
  width: 100%;

  height: auto;
  padding:8%;
  padding-top: 2%;
  padding-bottom: 2%;
  background: #ebf1f8;
  color: black;
  cursor: pointer;
  font-size: 16px;
  margin-top:0;
  margin-bottom: 0px;
}
.list-group-item.active{
  background-color: #ebf1f8;
  color:black;
  position:relative;
  z-index: 1;
}
.list-group-items{
  width: 100%;
position:relative;
  margin-bottom: 5px;

  border:none;
  list-style-type: none;
}

.list-group-items:active{
  background-color: white;
  color:black;
}
.oval:focus{
  background-color: #333;
}
.fa{
  color:#999;
  font-size:14px;
  padding-right: 3%;
}
.fa-vertical-line:after{
  content: "\007C";
  color:#999;
  font-size:14px;
  padding-left: 0;
  margin-left: 0px;
};
.fas{
  color:cornflowerblue;
  font-size: 14px;
  padding-right: 1%;
}
h5{
  font-size: 16px;
  padding-left: 4%;
  font-weight: 400;
}
.divlevel{
  padding-left: 3%;
}
.level{
  width:50%;
  background-color:cornflowerblue;
}
datalist{
  display: flex;
  justify-content: space-between;
  color: black;
  width: 50%;
}
