.box{
  position:relative;
  padding-left:5%;
  padding-right: 5%;
  padding-bottom: 3%;
  width:400px;
  height:250px;

}
.box div{
  position:absolute;
  bottom:0;
  padding-right: 5%;
  background-color:gainsboro;
  font-family: sans-serif;
  opacity: 0;
  color: black;
  font-weight: bold;
 margin-bottom: 20px;
 visibility: hidden;
 -webkit-transition: visibility 0s, opacity 0.5s linear;
 transition: visibility 0s, opacity 0.5s linear;

}
.box:hover{
  cursor:pointer;
}
.box:hover div{
  width: 230px;
 padding: 8px 10px;
padding-right: 5%;
 visibility: visible;
 opacity: 0.7;
}
h3{
  font-size: 50px;
  background: -webkit-linear-gradient(#f63c1f, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Comic Sans MS;
  font-weight: bold;
  text-align: center;
}
