<div style="width: 400px; margin: auto;">
  <div *ngIf="currentProgram" class="edit-form">
    <h4>Program</h4>
    <form>
      <div class="form-group">
        <label for="programName">Program Name</label>
        <input
          type="text"
          class="form-control"
          id="programName"
          [(ngModel)]="currentProgram.programName"
          name="programName"
        />
      </div>
      <div class="form-group">
        <label for="programDescription">Program Description</label>
        <input
          type="text"
          class="form-control"
          id="programDescription"
          [(ngModel)]="currentProgram.programDescription"
          name="programDescription"
        />
      </div>

      <div class="form-group">
        <label for="programType">Program Type</label>
        <input
          type="text"
          class="form-control"
          id="programType"
          [(ngModel)]="currentProgram.programType"
          name="programType"
        />
      </div>

      <div class="form-group">
        <label for="programStartdate">Program Startdate</label>
        <input
          type="text"
          class="form-control"
          id="programStartdate"
          [(ngModel)]="currentProgram.programStartdate"
          name="programStartdate"
        />
      </div>

      <div class="form-group">
        <label for="programPrice">Program Price</label>
        <input
          type="text"
          class="form-control"
          id="programPrice"
          [(ngModel)]="currentProgram.programPrice"
          name="programPrice"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentProgram.published ? "Published" : "Pending" }}
      </div>
    </form>

    <button
      class="badge badge-primary mr-2"
      *ngIf="currentProgram.published"
      (click)="updatePublished(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentProgram.published"
      class="badge badge-primary mr-2"
      (click)="updatePublished(true)"
    >
      Publish
    </button>

    <button class="badge badge-danger mr-2" (click)="deleteProgram()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success"
      (click)="updateProgram()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentProgram">
    <br />
    <p>Cannot access this Program...</p>
  </div>
</div>
